{% extends 'proteil/_base.html' %}

{% block title %}Proteilysis - Add proteins{% endblock %}

{% block nav %}
<ul class="nav nav-pills pull-right">
  <li><a href="{% url 'home' %}">Home</a></li>
  <li><a href="{% url 'protein_list' %}">Proteins</a></li>
  <li class="active"><a href="{% url 'protein_add' %}">Add proteins</a></li>
</ul>
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      
      <div class="page-header">
        <h3>Add proteins by Id</h3>
      </div>

      <form action="{% url 'upload_ids_list' %}" role="form" method="POST">
        {% csrf_token %}
        {{ list_form.non_field_errors }}

        <div class="form-group">
          <label for="typeId">Choose the type of Ids</label>

          {% for radio in list_form.ids_type %}
          <div class="radio">
              {{ radio }}
          </div>
          {% endfor %}
        </div>

        <div class="form-group">
          <label for="inputListIds">List of Ids</label>
          {{ list_form.ids }}
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-success">Add proteins</button>
        </div>

      </form>

    </div>
    <div class="col-md-6">
      <div class="page-header">
        <h3>Add PISCES file</h3>
      </div>
        
      <form action="{% url 'upload_pisces_file' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ pisces_form.non_field_errors }}
        <div class="form-group">
            <label for="pisces file">Pisces file</label>
            {{ pisces_form.file }}
            {{ pisces_form.file.errors }}
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success">Add proteins</button>
        </div>
      </form>
    </div>
  </div>
  

  

</div>

{% endblock %}
