<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>{% block title %}Proteilysis{% endblock %}</title>

    {% load staticfiles %}

    <link href="{{STATIC_URL}}proteil/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}proteil/css/global.css" rel="stylesheet">

  </head>

  <body>


    <div class="header">
      <div class="container">
        {% block nav %}
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'protein_list' %}">Proteins</a></li>
          <li><a href="{% url 'protein_add' %}">Add proteins</a></li>
        </ul>
        {% endblock %}
        <h3 class="text-muted">Proteilysis</h3>
      </div>
    </div>

    {% block content %}{% endblock %}
    {% include 'proteil/_footer.html' %}

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}proteil/js/dist/production.min.js"></script>

  </body>
</html>
